# Data Collection

Importing the Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Importing the dataset

In [2]:
dataset = pd.read_csv('Food_data.csv')
print(dataset.shape)

(255, 9)

In [3]:
dataset

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East
...,...,...,...,...,...,...,...,...,...
250,Til Pitha,"Glutinous rice, black sesame seeds, gur",vegetarian,5,30,sweet,dessert,Assam,North East
251,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,Goa,West
252,Shufta,"Cottage cheese, dry dates, dried rose petals, ...",vegetarian,-1,-1,sweet,dessert,Jammu & Kashmir,North
253,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,Madhya Pradesh,Central
254,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,Goa,West

# Data Preparation

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 241 entries, 0 to 254
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            241 non-null    object
 1   ingredients     241 non-null    object
 2   diet            241 non-null    object
 3   prep_time       241 non-null    int64
 4   cook_time       241 non-null    int64
 5   flavor_profile  241 non-null    object
 6   course          241 non-null    object
 7   state           241 non-null    object
 8   region          241 non-null    object
dtypes: int64(2), object(7)
memory usage: 18.8+ KB

In [6]:
dataset.describe()

        prep_time   cook_time
count  241.000000  241.000000
mean    31.962656   35.286307
std     74.487545   49.462243
min     -1.000000   -1.000000
25%     10.000000   20.000000
50%     10.000000   30.000000
75%     20.000000   40.000000
max    500.000000  720.000000

In [4]:
dataset.dropna(inplace=True)
dataset = dataset[dataset.region != '-1']
print(dataset.shape)

(241, 9)

# Data Analaysis and Visualization

# Feature Selection and Engineering

# Model Training

# Model Evaluation

# Prediction